COMPOSE_PROJECT_NAME=file_platform

APP_CODE_PATH=file-platform
APP_PORT=8880

NGINX_IMAGE=nginx:1.27-alpine
MYSQL_IMAGE=mysql:8.0
PHPMYADMIN_IMAGE=phpmyadmin:5.2-apache

MYSQL_PORT=3400
MYSQL_DATABASE=file_platform
MYSQL_ROOT_PASSWORD=root

PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=root
PHPMYADMIN_PORT=8881
PMA_UPLOAD_LIMIT=256M

TZ=Asia/Taipei
